examples/twitter_bot_flow.json
[{"id":"6da5218.c39a3e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"db0492e1.3abf5","type":"twitter in","z":"6da5218.c39a3e","twitter":"","tags":"telos","user":"false","name":"Analyze tweets","inputs":1,"x":140,"y":320,"wires":[["85caeaee.221b58"]]},{"id":"f8fbeafe.84dcd8","type":"function","z":"6da5218.c39a3e","name":"Add to Telos tweet count","func":"var count = flow.get('count')||0;\ncount++;\nflow.set('count',count);","outputs":1,"noerr":0,"x":430,"y":380,"wires":[[]]},{"id":"39d5c61a.447cea","type":"change","z":"6da5218.c39a3e","name":"Set flow counts to zero","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"last_count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[[]]},{"id":"231d5f43.b4381","type":"inject","z":"6da5218.c39a3e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["39d5c61a.447cea"]]},{"id":"7405f4bd.30a8ec","type":"inject","z":"6da5218.c39a3e","name":"Submit order 24 hours","topic":"","payload":"count","payloadType":"flow","repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":480,"wires":[["48abe903.4ef3b8"]]},{"id":"85caeaee.221b58","type":"delay","z":"6da5218.c39a3e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":150,"y":380,"wires":[["f8fbeafe.84dcd8"]]},{"id":"48abe903.4ef3b8","type":"function","z":"6da5218.c39a3e","name":"Reset Counts","func":"\n// Store current count as last count\nvar count = flow.get('count');\nflow.set('last_count',count);\n\n// Reset current count\nflow.set('count',0);","outputs":1,"noerr":0,"x":420,"y":480,"wires":[["31bb3736.cc6d98"]]},{"id":"31bb3736.cc6d98","type":"switch","z":"6da5218.c39a3e","name":"Buy/sell switch","property":"count","propertyType":"flow","rules":[{"t":"gt","v":"last_count","vt":"flow"},{"t":"lt","v":"last_count","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":600,"wires":[["7c484383.2c24fc"],["f247697d.839188"]]},{"id":"7c484383.2c24fc","type":"change","z":"6da5218.c39a3e","name":"Buy to Telos","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"from\":\"noderedeos\",\"to\":\"newdexpublic\",\"quantity\":\"0.008369 EOS\",\"memo\":\"{      'type': 'buy-market',      'symbol': 'eosio.token-tlos-eos',      'price': '0.00000',      'channel': 'API',      'receiver': 'noderedtelos'    }\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":560,"wires":[["a42776b9.64e698"]]},{"id":"f247697d.839188","type":"change","z":"6da5218.c39a3e","name":"Sell to EOS","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"from\":\"noderedtelos\",\"to\":\"newdex\",\"quantity\":\"1.000000 TLOS\",\"memo\":\"{      'type': 'sell-market',      'symbol': 'eosio.token-tlos-eos',      'price': '0.00000',      'channel': 'API',      'receiver': 'noderedeos'    }\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":620,"wires":[["76660fda.fbeaf"]]},{"id":"a42776b9.64e698","type":"telos-transfer","z":"6da5218.c39a3e","blockchain":"mainnet","chainid":"4667b205c6838ef70ff7988f6e8257e8be0e1284a2f59699054a018f743b1d11","endpoint":"https://telos.caleos.io","customendpoint":"","privkey":"~/telos_keyfile.txt","x":690,"y":560,"wires":[]},{"id":"76660fda.fbeaf","type":"telos-transfer","z":"6da5218.c39a3e","blockchain":"other","chainid":"","endpoint":"other","customendpoint":"https://eos.greymass.com:443","privkey":"~/eos_keyfile.txt","x":690,"y":620,"wires":[]},{"id":"12e9ef67.def311","type":"comment","z":"6da5218.c39a3e","name":"Manually inject to clear the flow counts.","info":"","x":210,"y":180,"wires":[]}]